VITE_AGENT_API_BASE_URL=https://chat.askmortgageauthority.com
VITE_AGENT_SITE_ID=lecrowndevelopment.com
VITE_AGENT_BOT_ID=benjamin-lagrone
VITE_PORTAL_DISABLE_AUTH=true
VITE_PORTAL_KEYCLOAK_URL=https://auth.pericopeai.com
VITE_PORTAL_KEYCLOAK_REALM=lecrown-portal
VITE_PORTAL_KEYCLOAK_CLIENT_ID=lecrown-portal-web
VITE_PORTAL_DEFAULT_PROJECT_ID=northstar-automation
VITE_PORTAL_DEV_EMAIL=admin@lecrowndevelopment.com
VITE_PORTAL_DEV_NAME=Local Portal Admin
PORTAL_KEYCLOAK_REALM=lecrown-portal
KEYCLOAK_ADMIN_BASE_URL=https://auth.pericopeai.com
KEYCLOAK_ADMIN_REALM=master
KEYCLOAK_ADMIN_CLIENT_ID=admin-cli
KEYCLOAK_ADMIN_USERNAME=
KEYCLOAK_ADMIN_PASSWORD=
PORTAL_INVITE_CLIENT_ID=lecrown-portal-web
PORTAL_INVITE_REDIRECT_URI=https://lecrowndevelopment.com/portal/login
PORTAL_DOCUMENT_PROVIDER=local
PORTAL_DRIVE_ROOT_FOLDER_ID=
PORTAL_DRIVE_CLIENT_ID=
PORTAL_DRIVE_CLIENT_SECRET=
PORTAL_DRIVE_REFRESH_TOKEN=
PORTAL_DRIVE_TOKEN_URL=https://oauth2.googleapis.com/token
PORTAL_DRIVE_API_BASE_URL=https://www.googleapis.com/drive/v3
PORTAL_DRIVE_UPLOAD_BASE_URL=https://www.googleapis.com/upload/drive/v3
PORTAL_SMTP_AUTH_REQUIRED=
BILLING_PROJECT=lecrowndev
BILLING_SERVICE_URL=https://billing.lecrowndevelopment.com
BILLING_SERVICE_API_KEY=
STRIPE_CHECKOUT_SUCCESS_URL=https://lecrowndevelopment.com/portal
STRIPE_CHECKOUT_CANCEL_URL=https://lecrowndevelopment.com/portal
GOOGLE_WORKSPACE_ADMIN_EMAIL=
GOOGLE_WORKSPACE_SERVICE_ACCOUNT_JSON_B64=
GOOGLE_WORKSPACE_SERVICE_ACCOUNT_JSON=
GOOGLE_WORKSPACE_SERVICE_ACCOUNT_FILE=
GOOGLE_WORKSPACE_OAUTH_CLIENT_ID=
GOOGLE_WORKSPACE_OAUTH_CLIENT_SECRET=
GOOGLE_WORKSPACE_OAUTH_REFRESH_TOKEN=
GOOGLE_WORKSPACE_DEAD_LETTER_GROUP=
GOOGLE_WORKSPACE_DEAD_LETTER_MEMBERS=
